*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* utility styling */

.btn{
  height: 50px;
  padding: 0 10px;
  font-size: 1.2em;
  border-radius: 40px;
  width: 100px;
  margin: 20px;
  transition: all .3s;
}
.btn:hover{
  background-color: violet;
  transform: scale(1.1);
  box-shadow: 0 0 2px ;
}

.block{
  display: block;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  font-size: 1.2em;
}

/* main styling */
body{
  height: 100vh;
  position: relative;
}
h1,h2{
  text-align: center;
  padding: 10px;
}
.container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 500px;
height: 500px;
padding: 20px;
border-radius: 30px;
border: 1px solid blueviolet;
background:linear-gradient(to top,rgba(216, 25, 216, 0.2),rgba(100, 40, 124, 0.395));
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.anim{
  animation:pop 1s infinite;
}
@keyframes pop{
  100%{
    background-color: violet;
    box-shadow: 0 0 5px ;
    scale: 1.05;
  }
}